/*
	WEDGES by JANE DAVIS <3 
	March 2020
*/

#canvas {
	margin-left: 10px;
	margin-top: 10px;
	border-style: dotted;
}

* {
	font-family: Arial, Helvetica, sans-serif;
 	font-size: 3vh;
 	line-height:1.6;
 	color: black;
	background-color: white;
}

body {
	margin-left: 30px;
}

select {
	text-align-last: center;
}


.textinput {
	background-color: white;
	border: 1px solid black;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 15px;
	margin-bottom: 5px;
	margin-left: 2px;
	margin-right: 2px;
	text-align: center;
	/*font-size: 20px;*/
	width: 300px;
}

.megadiv {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.canvasdiv {
	width: 600px;
}

.inputdiv {
	flex-grow: 1;
}

.col1 {
	padding-right: 30px;
}





.help {
	color: white;
	/*font-size: 10px;*/
	background-color: rgb(25, 25, 25);
	margin-left: 10px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: top;
	vertical-align: middle;
}


.tooltip {
	position: relative;
	display: inline-block;
	color: white;
	font-size: 1vh;
	background-color: rgb(25, 25, 25);
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: top;
	vertical-align: middle;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 300px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 5px; 
/*	padding: 5px 0; */
	position: absolute;
	left: 50%;
/*	margin-left: -60px; */
	opacity: 0;
	transition: opacity 0.2s;
	padding: 10px;
	z-index: 1;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%; /*50%;*/
  margin-left: -5px;
  border-width: 0px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.inputcol {
	padding-left: 30px;
}


.titlediv {
	font-size: 4.5vh;
	color: crimson;
	font-weight: bold;
}

.titlediv2 {
	font-size: 3vh;
	color: darkblue;
	font-weight: bold;
	font-style: italic;
}

#picinfo {
	vertical-align: top;
	font-size: 15px;
}
